@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#nk-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#nk-form h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 5px;
    margin: 0 0 13px 0;
    font-size: 25px;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    color: #d2d2d2;
}
/* My Testing theme had some predefined style so i had to reset ti */
#nk-form h1:before,
#nk-form h1:after {
    display: none;
}
#nk-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#nk-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0;
}
#nk-form button:hover,#nk-form button:active,#nk-form button:focus {
    background: #43A047;
}

#error-message {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    display: none;
}

/* LOADING ANIMATION */

#loading-animation {
    position: absolute;
    top: -17px;
    right: 15px;
    display: none;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 20px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 3px solid #4CAF50;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4CAF50 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
